@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
