@import "colors";
@import "const";

.main {
    width: 90%;
    margin: 0 auto 20px auto;
    background: $content-background;
    border: 1px solid $border-color;
    border-radius: 2px;

    .left-side {
        float: left;
        width: 250px;
        margin: 0 auto;

        img {
            width: 220px;
            height: 220px;
            display: block;
            margin: 15px 0 15px 15px;
            border: 1px solid $border-color;
        }
    }

    .right-side {
        padding: 15px;
    }

    p.name {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    p.spec {
        font-size: 18px;
        font-weight: 300;
        color: $text-color-light;
        margin-bottom: 10px;
    }

    p.desc {
        font-size: 16px;
        line-height: 20px;
        padding-top: 10px;
    }
}

.additional {
    width: 90%;
    margin: 0 auto 20px auto;
    background: $content-background;
    border: 1px solid $border-color;
    border-radius: 2px;

    .left-side {
        float: left;
        width: 50%;
        overflow: hidden;
    }

    .right-side {
        width: 50%;
        overflow: hidden;
    }

    h2, h3 {
        font-family: $theme-font;
        font-weight: 400;
        color: $text-color;
        margin: 0;
    }

    header {
        margin-bottom: 20px;
        background: $content-background;

        h2 {
            font-size: 20px;
            padding: 10px 0 10px 10px;
            border-bottom: 1px solid $border-color;
        }
    }

    .content {
        padding: 20px 50px 20px 20px;
        margin-bottom: 20px;

        h3 {
            font-size: 18px;
            margin-bottom: 10px;
        }

        p {
            font-size: 15px;
            line-height: 25px;
        }
    }
}
