.rating-wrapper {
    font-size: 20px;
    text-align: left;
    margin-bottom: 10px;

    .rating {
        unicode-bidi: bidi-override;
        direction: rtl;
    }

    .rating > span {
        display: inline-block;
        position: relative;
        color: orange;
        width: 16px;
    }

    .rating > span:hover:before,
    .rating > span:hover ~ span:before {
        content: "\2605";
        position: absolute;
        cursor: pointer;
    }
}
